div{
    display: flex;
    flex-direction: column;
    align-items: center;
    div{
        margin-top: 3vh;
        background-color: rgb(200, 201, 201);
        overflow: hidden;
        height: 150px;
        width: 150px;
        border-radius: 50%;
        border: 1px solid rgb(182, 180, 180);
        display:flex;
        justify-content: center;
        align-items: center;
        img{
            width: 150px;
        }
    }
    
    #edit-profile-form{
        margin-top: 5vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        border: 1px solid rgb(142, 140, 140);
        min-width: 600px;   
        min-height: 350px;
        input[type=text]{
            resize: none;
            outline: none;
            width: 50%;
            border: 1px solid rgb(182, 179, 179);
            padding: 3px;
        }
        input[type=email]{
            resize: none;
            outline: none;
            width: 50%;
            border: 1px solid rgb(182, 179, 179);
            padding: 3px;
        }
        input[type=file]{
            resize: none;
            outline: none;
            width: 50%;
            border: 1px solid rgb(182, 179, 179);
            padding: 3px;
        }
        input[type=submit]{
            width: 100px;
            height: 36px;
            border-radius: 3px;
            border: solid 1px transparent;
            color: rgb(114, 114, 114);
            font-size: 18px;
            font-weight: 300;
            background-color: rgb(196, 241, 254);
            box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        }
    }

    p{
        width: 30%;
        padding: 5px;
        max-width: 600px;
        font-size: 1.5rem;
        color: rgb(97, 97, 97);
        border: 1px solid grey;
        display: flex;
        justify-content: space-evenly;
        span{
            display: inline-block;
            width: 40%;
        }

    }

    .friend-btn{
        margin-top: 5vh;
        button{
            width: 140px;
            height: 50px;
            border-radius: 3px;
            border: solid 1px transparent;
            color: rgb(114, 114, 114);
            font-size: 18px;
            font-weight: 300;
            background-color: rgb(196, 241, 254);
            box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        }
    }
    
}