<div style="background-color:rgb(187, 253, 253);">
    <p style="background-color: white; text-align: center;">Hello, <strong><%= comment.user.name %></strong>! </p>
    <br>
    <br>
    <br>
    <p style="background-color: white;">Your new comment <strong><%= comment.content %></strong> has been published.</p>
    <br>
    <br>
    <br>
    <p style="background-color: white; text-align: center;"> Thanks for reading!</p>
</div>