footer {
  height: 100px;
  background-color: #ffdb8f;
  display: flex;
  align-items: center;
  padding-left: 5vw; }
  footer p {
    color: #606060;
    font-weight: 600; }
  footer ul li {
    list-style: none; }
    footer ul li a {
      text-decoration: none;
      color: #606060;
      font-weight: 600; }
