div {
  display: flex;
  flex-direction: column;
  align-items: center; }
  div form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid #8e8c8c;
    min-width: 600px;
    min-height: 200px; }
    div form input[type=email] {
      resize: none;
      outline: none;
      border: 1px solid #b6b3b3;
      padding: 3px; }
    div form input[type=password] {
      resize: none;
      outline: none;
      border: 1px solid #b6b3b3;
      padding: 3px; }
    div form input[type=submit] {
      width: 100px;
      height: 36px;
      border-radius: 3px;
      border: solid 1px transparent;
      color: #727272;
      font-size: 18px;
      font-weight: 300;
      background-color: #c4f1fe;
      box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; }
  div a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin: 40px;
    text-decoration: none;
    color: #de4040;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid grey;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; }
